.wrapper {
  display: flex;
  grid-area: header;
  align-items: center;
  background: #ffecd5;
}
.wrapper img {
  width: 100px;
}
.login {
  margin: 0 20px 0 auto;
}
.logo { grid-area: logo; }
.title { grid-area: title; }