.wrapper {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  background: #ffb793;
}
.navigation a {
  border-bottom: 1px solid transparent;
}
.navigation .activeLink {
  color: #ff0000;
}
.navigation li {
  margin: 5px 10px;
}